<div id="{{id}}" class="mix">
  {{{art_image}}}
  <div class="artist">{{artist}}</div>
  <div class="title">{{title}}</div>
  <div class="meta">
    <span class="duration">{{duration}}</span>
    <span class="genre">of {{genre}}</span>
  </div>
</div>
