<td class="art">
  <a href="#play" data-id="{{id}}" class="play">play</a>
  <img src="{{thumb}}" alt="{{title}}"/>
</td>
<td class="title" title="{{title_text}}">
  <a href="/mixes/{{id}}" data-id="{{id}}" class="show">{{title}}</a>
  <span class="duration">{{duration}}</span>
  of <span class="genre {{genre}}"><a href="/genres/{{genre}}/mixes" class="navigate">{{genre}}</a></span>
</td>
