<img src="{{thumb}}" alt="{{title}}" class="art"/>

<a href="#play" data-id="{{id}}" class="play">play</a>

<div class="title">
  <a href="/mixes/{{id}}" class="navigate">{{title}}</a>
</div>

<div class="meta">
  <span class="duration">{{duration}}</span>
  of
  <span class="genre {{genre}}">
    <a href="/genres/{{genre}}/mixes">{{genre}}</a>
  </span>
  by
  <span class="artist">{{artist}}</span>
</div>
